In [1]:
import pandas as pd
import requests

In [2]:
data = pd.read_csv('ibdata_Abhir.csv')

In [4]:
df=pd.DataFrame(columns=["Code","Exchange","Name","Type","Country","Currency","ISIN","previousClose","previousCloseDate"])
df2 = pd.DataFrame(columns=["Code","Exchange","Name","Type","Country","Currency","ISIN","previousClose","previousCloseDate"])
isin = data["IB-ISIN"]

In [5]:
for i in isin:
    try:
        newdata = f'https://eodhistoricaldata.com/api/search/{i}?api_token=5f3afd582bd7b4.95720069'
        a = requests.get(newdata).json()
        df3 = pd.DataFrame(a)
        df = pd.concat([df,df3])
    except:
        df=pd.concat([df,df2])

In [6]:
df = df.add_prefix('EOD-')
df

,EOD-Code,EOD-Exchange,EOD-Name,EOD-Type,EOD-Country,EOD-Currency,EOD-ISIN,EOD-previousClose,EOD-previousCloseDate
0,1ST,AU,1stAvailable Ltd,Common Stock,Australia,AUD,AU0000001ST0,0.0070,2022-07-20
0,TWOU,US,2U Inc,Common Stock,USA,USD,US90214J1016,11.0700,2022-07-20
0,DDDX,US,3Dx Industries Inc,Common Stock,USA,USD,US88556A1007,0.0595,2022-07-20
0,MMM,US,3M Company,Common Stock,USA,USD,US88579Y1010,133.0100,2022-07-20
1,MMM,XETRA,3M Company,Common Stock,Germany,EUR,US88579Y1010,130.6400,2022-07-20
...,...,...,...,...,...,...,...,...,...
0,ZYME,US,Zymeworks Inc,Common Stock,USA,USD,CA98985W1023,6.2600,2022-07-20
0,ZYNE,US,Zynerba Pharmaceuticals Inc,Common Stock,USA,USD,US98986X1090,1.1500,2022-07-20
0,ZYXI,US,Zynex Inc,Common Stock,USA,USD,US98986M1036,7.6300,2022-07-20
0,ZYT,LSE,Zytronic,Common Stock,UK,GBX,GB0006971013,130.0000,2022-07-20
0,8295,HK,ZZ Technology Group Co Ltd,Common Stock,Hong Kong,HKD,KYG989MR1033,0.2800,2022-07-20

In [7]:
df.to_csv('eoddata_unclean_Abhir.csv')