In [7]:
import pandas as pd

In [8]:
data = pd.read_csv("unclean_ibdata.csv")

In [9]:
data

,Unnamed: 0,contract,industry,longName,marketName,secIdList
0,0,"{'secType': 'STK', 'conId': 196473646, 'symbol...",Communications,1ST GROUP LTD,1ST,"TagValue(tag='ISIN', value='AU0000001ST0')"
1,0,"{'secType': 'STK', 'conId': 147540466, 'symbol...","Consumer, Non-cyclical",2U INC,NMS,"TagValue(tag='ISIN', value='US90214J1016')"
2,0,"{'secType': 'STK', 'conId': 139111268, 'symbol...",Industrial,3DX INDUSTRIES INC,CURRENT,"TagValue(tag='ISIN', value='US88556A1007')"
3,0,"{'secType': 'STK', 'conId': 9720, 'symbol': 'M...",Industrial,3M CO,MMM,"TagValue(tag='ISIN', value='US88579Y1010')"
4,3,"{'secType': 'STK', 'conId': 324526941, 'symbol...","Consumer, Non-cyclical",MARLEY SPOON AG-CDI,MMM,"TagValue(tag='ISIN', value='AU0000013070')"
...,...,...,...,...,...,...
22739,0,"{'secType': 'STK', 'conId': 202225021, 'symbol...","Consumer, Non-cyclical",ZYNERBA PHARMACEUTICALS INC,NMS,"TagValue(tag='ISIN', value='US98986X1090')"
22740,0,"{'secType': 'STK', 'conId': 52413740, 'symbol'...","Consumer, Non-cyclical",ZYNEX INC,NMS,"TagValue(tag='ISIN', value='US98986M1036')"
22741,0,"{'secType': 'STK', 'conId': 172604496, 'symbol...",Technology,ZYNGA INC - CL A,ZNGA,"TagValue(tag='ISIN', value='US98986T1088')"
22742,0,"{'secType': 'STK', 'conId': 300356872, 'symbol...",Industrial,ZYTRONIC PLC,ASQ1,"TagValue(tag='ISIN', value='GB0006971013')"
22743,0,"{'secType': 'STK', 'conId': 489110466, 'symbol...",Financial,ZZ TECHNOLOGY GROUP CO LTD,8295,"TagValue(tag='ISIN', value='KYG989MR1033')"

In [10]:
symbol = data.contract.str.split(expand=True)
symbol = symbol.iloc[:,[5]].squeeze()
symbol = symbol.str.replace("'","").str.replace(",","")
try_data = data.secIdList.str.split(expand=True)
try_data=try_data.rename(columns={1:"ISIN"})
try_data=try_data.ISIN.str.replace("value","")
try_data=try_data.str.replace("='","")
try_data=try_data.str.replace(")","")
try_data=try_data.str.replace("'","")
data["ISIN"]=try_data
data["Symbol"]=symbol
data.drop(["secIdList","contract","Unnamed: 0"],axis=1,inplace=True)

/var/folders/sb/9s3wjlmn3mj5lkscq0xyyt8m0000gn/T/ipykernel_91138/27893901.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  try_data=try_data.str.replace(")","")

In [11]:
data=data.add_prefix('IB-')
data

,IB-industry,IB-longName,IB-marketName,IB-ISIN,IB-Symbol
0,Communications,1ST GROUP LTD,1ST,AU0000001ST0,1ST
1,"Consumer, Non-cyclical",2U INC,NMS,US90214J1016,TWOU
2,Industrial,3DX INDUSTRIES INC,CURRENT,US88556A1007,DDDX
3,Industrial,3M CO,MMM,US88579Y1010,MMM
4,"Consumer, Non-cyclical",MARLEY SPOON AG-CDI,MMM,AU0000013070,MMM
...,...,...,...,...,...
22739,"Consumer, Non-cyclical",ZYNERBA PHARMACEUTICALS INC,NMS,US98986X1090,ZYNE
22740,"Consumer, Non-cyclical",ZYNEX INC,NMS,US98986M1036,ZYXI
22741,Technology,ZYNGA INC - CL A,ZNGA,US98986T1088,ZNGA
22742,Industrial,ZYTRONIC PLC,ASQ1,GB0006971013,ZYT
22743,Financial,ZZ TECHNOLOGY GROUP CO LTD,8295,KYG989MR1033,8295

In [12]:
data.to_csv('ibdata.csv')